future
numpy
pydot
torchviz
scikit-learn
tqdm
opencv-python
sklearn
tensorboard
onnx==1.11.0
onnxruntime==1.10.0
nvidia-pyindex
onnx-graphsurgeon==0.3.15
torch==1.7.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
